<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/tailwind.css">
    <link rel="shortcut icon" href="public/images/page-icon.svg">
    <link rel="stylesheet" href="public/css/index.css">
    <!-- https://img.icons8.com/ios-filled/100/000000/space-fighter.png -->
    <title>Space Invaders</title>
</head>
<body class="m-2">
    <div class="grid grid-cols-1 gap-4 max-w-md m-auto">
        <div class="flex justify-between mt-2 mb-1">
            <p class="inline-block text-xl p-1">
                Score:
            </p>
            <button class="inline-block border border-gray-600 rounded p-1">
                Login
            </button>
        </div>

        <div class="my-5">
            <canvas id="canvas" class="border-4 m-auto"></canvas>
            <!-- <img src="public/images/450_1000.jpg" alt=""> -->
        </div>

        <div class="grid grid-cols-3 grid-rows-3 max-w-sm m-auto mt-3">
            <button id="left" class="col-start-1 row-start-2 text-center rounded button border border-gray-600 p-2" id="left" onclick="moveLeft()">
                Left
            </button>
            <button id="up" class="col-start-2 row-start-1 text-center rounded button border border-gray-600 p-2">
                Up
            </button>
            <button id="right" class="col-start-3 row-start-2 rounded button border border-gray-600 p-2" id="right" onclick="moveRight()">
                Right
            </button>
            <button id="down" class="col-start-2 row-start-3 rounded button border border-gray-600 p-2">
                Down
            </button>
        </div>
    </div>

    <script src="public/js/index.js"></script>
</body>
</html>
